*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #FFFACD
}
.box{
    display: grid;
    grid-template: repeat(3, 50px) / repeat(3, 50px);
    gap: 10px;
    justify-content: center;
}


.game{
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    background-color: #CD853F;	
    color: white;
    border: none;
}

.game:hover{
    background-color: #8B4513
}

.declare{
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    width: 150px;
    height: 50px;
    background-color:#CD853F;
    border-radius: 1rem;
    border: none;
}

.player-container{
    display: flex;
    justify-content: center;
}

.reset-container{
    display: flex;
    justify-content: center;
}

.reset{
    margin: 2rem;
    width: 100px;
    height: 40px;
    background-color: #F0E68C;
    border-radius: 1rem;;
    border: none;
}

.reset:hover{
    background-color: #BDB76B;
}